* { 
    margin: auto; 
    letter-spacing: 2px;
} 
.content-app {  
    background-color: aqua;
    width: 100%; 
    height: 100%;   
    display: flex;
    justify-content:center; 
}  
.content-quiz {
    display:flex;
    width: 40%; 
    height: 85%; 
    margin:auto;  
    padding: auto; 
    position: absolute;  
    top:0px; 
    bottom: 0px;  
    text-align: center;
    flex-flow: column;
    border: 1px solid #e7e7e7; 
    border-radius: 10px; 
    background-color: white; 
    box-shadow: 0 10px 20px rgba(0,0,0, 0.19), 0 6px rgba(0, 0, 0, 0.23);
} 
.quiz-header { 
    width: 100%; 
    height: 20%; 
    border-bottom: 1px solid palevioletred; 
    align-items: center; 
    background: darkmagenta; 
    justify-content: center; 
    display: flex; 
    border-radius: 10px 10px 0px 0px; 
    margin: 0px;

} 
.quiz-main {
    display: flex; 
    width: 100%; 
    height: 70px; 
    margin: 0px; 
    padding: 10px; 
    position: relative; 
    bottom:100px;
    flex-flow: column;
} 
.quiz-footer { 
    display: flex; 
    width: 100%; 
    height: 10%; 
    justify-content: center; 
    border-top:1px solid #e7eae0; 
    background-color: darkmagenta;
    border-radius:0px 0px 10px 10px ; 
    margin: 0px;

}  
.box-question {
    margin-top: 20px; 
    padding-bottom: 20px;
}  
.box-question h3 {
    margin-top: 20px;
} 
ul {
    display: flex; 
    width: 80%; 
    margin: 0px; 
    padding:0px; 
    flex-flow: column; 
}
.box-suggestions {
    display: flex; 
    width: 100%; 
    justify-content: center; 
    margin: auto;
} 
ul li{
    list-style: none;
    line-height: 2; 
    border:1px solid #cdd2d2;
    margin-bottom: 20px; 
    border-radius: 15px; 
    cursor: pointer; 
    width: 100%;
} 
li:hover{
    background-color: #e7eae0;
} 
.box-btn{
   display: flex; 
    width: 100%;
} 
.box-btn button{
    width: 150px; 
    height: 35px; 
    outline:none; 
    border:0;
    color:white;
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 15px; 
    margin: auto; 
    background-color: #a09f9ff5;
}
li.correct {
    border:1px solid rgb(74,219, 74);
}